@use './config/mixins.scss' as *;
@use './common.scss' as *;

@include b(tree) {
  display: inline-block;
  width: 100%;
}

@include b('tree-node') {
  display: flex;
  padding: 5px 0;
  align-items: center;
  @include when(selected) {
    background-color: rgb(202, 106, 240);
  }
  @include when(disabled) {
    cursor: not-allowed;
    background-color: #ccc;
  }
  @include e('expand-icon') {
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.1s ease-in;
    @include when(expand) {
      transform: rotate(90deg);
    }
    @include when(leaf) {
      pointer-events: none;
      color: transparent;
      cursor: default;
    }
    @include when(loading) {
      @extend .loading;
    }
  }
  &:hover {
    background-color: rgba(193, 157, 250);
  }
}
